<header class='header'>
  {{>logo}}
  {{>nav list=header}}
</header>

<main class="main">
    <div class="main_info">
        <h1 class="main_info_title">{{info.title}}</h1>
        <p class="main_info_description">{{info.description}}</p>
    </div>
    <div class="main_form">
        {{#with form}}
            <div class="main_form_inputs">
                {{#each inputs}}
                    <input name="{{name}}" id="main_form_inputs_{{id}}" placeholder="{{placeholder}}" type="type">
                {{/each}}
            </div>
            <div class="main_form_checkbox">
                {{#with checkbox}}
                    <input type="checkbox" name="{{name}}" id="{{name}}">
                    <label for="{{name}}" name="{{label}}">{{label}}</label>
                {{/with}}
            </div>
            <button type="submit" class="main_form_button">{{button}}</button>
            <p class="main_form_info">{{info}}</p>
        {{/with}}
    </div>
</main>

<section class="updates">
    {{#with updates}}
        <h3 class="updates_title">{{title}}</h3>
        <div class="updates_list">
            {{#each list}}
                <div class="updates_list_item">
                    <img src="/img/transparent_img.png" alt="32x32 image" class="updates_list_item_image">
                    <div class="updates_list_item_text">
                        <p class="updates_list_item_nickname">@{{nickname}}</p>
                        <p class="updates_list_item_description">{{description}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
        <a href="{{show_all.url}}" class="updates_show_all">{{show_all.text}}</a>
    {{/with}}
</section>

<section class="expirience">
    {{#with expirience}}
        <div class="expirience_badge">{{badge}}</div>
        <h2 class="expirience_title">{{title}}</h2>
        <div class="expirience_list">
            {{#each list}}
                <div class="expirience_list_item">
                    <span class="expirience_list_item_name">
                        {{name}}
                    </span>
                    <p class="expirience_list_item_details">{{details}}</p>
                </div>
            {{/each}}
        </div>
    {{/with}}
</section>


<footer class="footer" id="test">
        <div>
            {{>logo}}
            <span class="footer_copyright">
                © 2023
            </span>
        </div>

    {{#each footer}}
        <div class="footer_menu_item">
            <span class="footer_title">
                {{title}}
            </span>
            {{>nav list=links isVertical=true}}
        </div>
    {{/each}}
</footer>
